[user]
    name   = godhand4826
    email  = godhand4826@gmail.com
[core]
    editor = vim
    pager  = less -F -X
[alias]
    l      = log --graph --oneline
    ll     = log --graph --oneline --all
    a      = add
    aa     = add --all
    st     = status
    co     = checkout
    d      = diff
    dc     = diff --cached
    dt     = difftool
    dtc    = difftool --cached
    ru     = remote update
[diff]
    tool   = vimdiff
[difftool]
    prompt = false
